<div class="flex items-center justify-center gap-2 mx-auto mb-4 w-10/12">
    <form class="flex items-center justify-between w-full" onsubmit="recarregarComFiltro">
    <div class="flex gap-4 items-center">
        <div>
            <input type="radio" name="enviado" id="todos" value="" <%= query.enviado === '' || !query.enviado ? 'checked' : false %> >
            <label for="todos" class="text-lg">Todos</label>
        </div>
        <div>
            <input type="radio" name="enviado" id="sucesso" value="true" <%= query.enviado === 'true' ? 'checked' : false %> >
            <label for="sucesso" class="text-lg">Enviados com sucesso</label>
        </div>
        <div>
            <input type="radio" name="enviado" id="falhou" value="false" <%= query.enviado === 'false' ? 'checked' : false %> >
            <label for="falhou" class="text-lg">Não enviados</label>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div>
            <label for="dataInicio">De: </label>
            <input type="date" name="dataInicio" value="<%= query.dataInicio %>" >
        </div>
        <div>
            <label for="dataFinal">Até: </label>
            <input type="date" name="dataFinal" value="<%= query.dataFinal %>">
        </div>
    </div>
    <div class="space-x-4">
        <a href="http://localhost:3000" class="bg-slate-100 border p-2 rounded-lg">Limpar</a>
        
        <button
        class="bg-slate-700 text-white p-2 rounded-md my-4 hover:cursor-pointer font-medium"
        type="submit"
        >
            Filtrar
        </button>
    </div>
</form>

</div>

<script>
    function funciona(){
        console.log('funciona')
    }


    function recarregarComFiltro(e){
        e.preventDefault()
        const formData = new FormData(e.currentTarget)

        const novaUrl = new URL(window.location)
        for (let filtroNome of ['cliente', 'enviado', 'dataInicio', 'dataFinal']){
            const filtro = formData.get(filtroNome)
            if (filtro){
                novaUrl.searchParams.append(filtroNome, filtro)
            }
        }

        window.location.replace(novaUrl)
    }

    function recarregarSemFiltro(e){
        e.preventDefault()
        console.log('sem filtro')

        const novaUrl = new URL(window.location.href)
        window.location.replace(novaUrl)
    }
</script>