<%- include('header') %>

<div class="w-full text-center">
    <h1 class="text-4xl text-center mb-10 bg-[#fee708] text-black font-medium p-4">Relatório de envio NF-e Mercado Livre</h1>
    <%- include('filtros', {query}) %>
    <% if (!!pedidos) { %>
        <div class="text-center w-10/12 mt-8 mx-auto divide-y divide-slate-300 border border-slate-300 rounded-lg">
            <div class="grid [grid-template-columns:0.25fr_0.25fr_0.375fr_0.75fr_2.25fr_1fr_0.5fr_2fr] items-center bg-[#fee708] rounded-t-lg divide-x divide-slate-200">
                <span class="py-3 font-medium">Id</span>
                <span class="py-3 font-medium">Pedido no Falco</span>
                <span class="py-3 font-medium">Nº nota</span>
                <span class="py-3 font-medium">Nº do pedido ML</span>
                <span class="py-3 font-medium">Cliente</span>
                <span class="py-3 font-medium">Data/hora</span>
                <span class="py-3 font-medium">Sucesso</span>
                <span class="py-3 font-medium">Observação</span>
            </div>
            <% for( const pedido of pedidos ) { %>
                <div class="grid [grid-template-columns:0.25fr_0.25fr_0.375fr_0.75fr_2.25fr_1fr_0.5fr_2fr] divide-x divide-slate-300">
                    <span><%= pedido.id_IN %></span>
                    <span><%= pedido.pedido_no_falco_BT %></span>
                    <span><%= pedido.numero_nota_NM %></span>
                    <span><%= pedido.order_id_NM %></span>
                    <span><%= pedido.nome_cliente_VC %></span>
                    <span><%= pedido.data_envio_DT %></span>
                    <span><%= pedido.nota_enviada_BT %></span>
                    <span><%= pedido.observacao_VC %></span>
                </div>
            <% } %>
    </table>
    <% } %>
</div>