<%- include('header') %>

<div class="w-full text-center">
    <h1 class="text-4xl text-center mb-10 bg-[#fee708] text-black font-medium py-4">Relatório de envio NF-e Mercado Livre</h1>
    <div class="w-full xl:w-11/12 xl:w-10/12 mx-auto">
        <%- include('filtros', {query}) %>
        <% if (!!pedidos) { %>
            <table class="w-full! mx-auto text-sm">
                <thead class="bg-slate-600 rounded-lg">
                    <tr class="bg-[#fee708] items-center rounded-t-lg rounded-lg">
                        <th class="py-3 font-medium rounded-tl-lg">Id</th>
                        <th class="py-3 font-medium w-fit">Status</th>
                        <th class="py-3 font-medium">Nº nota</th>
                        <th class="py-3 font-medium">Nº Pedido ML</th>
                        <th class="py-3 font-medium">Nº Pedido FALCO</th>
                        <th class="py-3 font-medium">Cliente</th>
                        <th class="py-3 font-medium">Data/hora</th>
                        <th class="py-3 font-medium">Sucesso</th>
                        <th class="py-3 font-medium rounded-tr-lg">Observação</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( const pedido of pedidos ) { %>
                        <tr class="text-center *:border *:border-slate-300 *:py-1 text-wrap">
                            <td><%= pedido.id_IN %></td>
                            <td>
                                <div class="size-3 mx-auto rounded-full" style="background-color: <%= pedido.pedido_no_falco_BT ? 'blue': 'yellow' %>;"></div>
                            </td>
                            <td><%= pedido.numero_nota_NM %></td>
                            <td><%= pedido.order_id_NM %></td>
                            <td><%= pedido.numero_pedido_falco_IN %></td>
                            <td class="truncate"><%= pedido.nome_cliente_VC %></td>
                            <td class="truncate"><%= pedido.data_envio_DT %></td>
                            <td><%= pedido.nota_enviada_BT %></td>
                            <td class=""><%= pedido.observacao_VC %></td>
                        </tr>
                    <% } %>
                </tbody>
        </table>
        <% } %>
    </div>
</div>