<%- include('header') %>

<div class="w-full text-center">
    <h1 class="text-4xl text-center my-10">Relatório de envio NFe Mercado Livre</h1>
    <%- include('filtros', {query}) %>
    <% if (!!pedidos) { %>
        <div class="text-center w-10/12 mx-auto divide-y divide-slate-300 border border-slate-300 rounded-lg">
            <div class="grid [grid-template-columns:0.25fr_0.375fr_0.75fr_2.25fr_1fr_0.5fr_2fr] items-center bg-slate-400 rounded-t-lg divide-x divide-slate-200">
                <span class="py-3">Id</span>
                <span class="py-3">N nota</span>
                <span class="py-3">N do pedido ML</span>
                <span class="py-3">Cliente</span>
                <span class="py-3">Data/hora</span>
                <span class="py-3">Sucesso</span>
                <span class="py-3">Observação</span>
            </div>
            <% for( const pedido of pedidos ) { %>
                <div class="grid [grid-template-columns:0.25fr_0.375fr_0.75fr_2.25fr_1fr_0.5fr_2fr] divide-x divide-slate-300">
                    <span><%= pedido.id_NM %></span>
                    <span><%= pedido.numero_nota_NM %></span>
                    <span><%= pedido.order_id_NM %></span>
                    <span><%= pedido.nome_cliente_VC %></span>
                    <span><%= pedido.data_envio_DT %></span>
                    <span><%= pedido.nota_enviada_BT %></span>
                    <span><%= pedido.observacao_VC %></span>
                </div>
            <% } %>
    </table>
    <% } %>
</div>